@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: rgb(15, 117, 180)
}

h1 {
    color: rgb(31, 31, 158);
    text-align: center;
}